body {
    background-color: hsl(217, 54%, 11%);
    color: #88a5d0;
    font-size: .80em;
    font-family: 'Outfit', sans-serif;
    
}



h2 {
    color: white;
}

h2:hover {
    color: cyan;
}



a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cyan;
}

/* ===== containers ===== */

.card {
    /* position: relative; */
    width: 17%;
    height: auto;
    margin: 7% auto;
    padding: 2em;
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    /* height: 50%; */ 
}



.main-images {
    display: flex;
    position: relative;
}

.main-images:hover {
    color: cyan;
}

.component {
    display: flex;
    justify-content: space-between;
    border-bottom:  hsl(215, 32%, 27%) solid 2px;
    padding: 1em;
}

.ethereum {
    display: flex;
    align-items: center;

}

.time {
    display: flex;
    align-items: center;
}


.author {
    padding-top: 1em;
    display: flex;
    align-items: center;
}

/* ====== texts ====== */

.text-ether {
    margin-left: .5em;
    color: cyan;
}


.text-time {
    margin-left: .5em;
}



.text-author {
    margin-left: .5em;
}



/* ====== images ====== */

.img-equilibrium {
    border-radius: 20px;
    width: 100%;
    height: auto;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.card:hover .img-equilibrium {
    opacity: 0.5;
    color: skyblue;
}

.img-view {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    width: 15%;
    top: 45%;
    left: 44%;  
}

.card:hover .img-view {
    opacity: 1;
}

.img-ethereum {
    width: 12%;
    height: auto;
}


.img-clock {
    width: 15%;
    height: auto;
}


.img-avatar {
    width: 10%;
    height: 10%; 
    border: 2px solid #fff;
    border-radius: 50%;
}
